*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
/* body{
    overflow:hidden;
} */
.carousel-item{
    height:80%vh;
    background:no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
    background-color: black;
    
    
}
.carousel-item > img{
    opacity: 0.4;
    
   
}
.carousel-caption{
        text-align: center;
        transform: translate(0%, -55%);
}

@media screen and (max-width:576px) {

   
   .course{
        display:flex;
        flex-direction: column;
   }
   .join{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }
   
    
       
} 